{{ if .Site.Params.googlefonts }}
<link rel="stylesheet" href="{{ .Site.Params.googlefonts }}" type="text/css" media="all" /> 
{{ end }}


<div class="d-flex w-100 h-100 mx-auto flex-column">
  <nav class="navbar navbar-light bg-light navbar-expand-lg mb-auto">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/images/logo_small.svg" alt="" width="30" height="24" class="d-inline-block align-top">
        SQL Components
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/story">The Story</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/todo">Todo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/how">How</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
  
          
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>