{{ define "main" }}

<main class="container-fluid p-0">

    <div class="card-header py-2  cv-header">
        <div class="container row mx-auto px-0">
        <div class="col-6 px-0">
            <h1 class="text-lowercase">Sathish Kumar Thiyagarajan</h1>
            <h3 class="px-3 text-muted lead text-capitalize"> Full Stack Developer </h3>
        </div>
        <div class="col-2 col-md-2 col-lg-2 align-self-end text-right pr-3 pb-3 p-0"><a href="https://github.com/techatpark" class="btn btn-outline-info btn-sm mr-2"><i class="fab fa-github"></i> </a><a href="https://www.linkedin.com/company/techatpark/" class="btn btn-outline-info btn-sm"><i class="fab fa-linkedin-in"></i></a></div>
    </div>
    </div>
    <section class="container mt1">
        <div class="row mt-4">
            <div class="col-md-6 p0">
                
            </div>
            <div class="col-md-6">
                <img src="{{ "/images/stack.png" | relURL }}" class="rounded float-right" alt="...">
            </div>
        </div>
    </section>


    <section class="container mt-5">
        <h2 class="py-2">summary</h2>
        <p class="text-muted f-18">3+ years of full stack development, developed multiple products for a varied
            number of
            clients across several time zones,
            also contributing individually to convert business ideas and concepts into effective applications
            to meet customer
            requirements insted of satisfying.</p>
    </section>
    <section class="container mt-5">
        <h2 class="py-2">experience</h2>
        <div class="row">
            <div class="col-md-4">
                <h3 class="f-24">Dropthought</h3>
                <a target="_blank" href="https://www.dropthought.com">
                <img src="dist/images/dt.png" style="height: 75px;" class="rounded" alt="...">
                </a>
            </div>
            <div class="col-md-8">
                <h5 class="f-18">Full Stack Developer from November 2019 to still</h5>
                <p class="text-muted f-18">Being a software engineer at dropthought, I had change to changed their enveronment setup vm to dockerizing.</p>
                <!-- <p class="text-muted f-18">Joined as a Fresher got wellversed with the technology stack. i was 2nd
                    billable
                    resource for the company.</p> -->
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <h3 class="f-24">Virthi tech lab</h3>
                <a target="_blank" href="http://vhitechlab.com/">
                <img src="dist/images/vhitech.png" class="rounded" alt="...">
                </a>
            </div>
            <div class="col-md-8">
                <h5 class="f-18">Full Stack Developer from October 2016 to November 2019</h5>
                <p class="text-muted f-18">Being one of the pioneers of the startup, I had a chance to learn/explore different technology stacks and understanding
                the advantages/drawbacks of the technologies and grow along with the organization.</p>
                <!-- <p class="text-muted f-18">Joined as a Fresher got wellversed with the technology stack. i was 2nd
                    billable
                    resource for the company.</p> -->
            </div>
        </div>
    </section>
    <section class="container mt-5">
        <h2 class="py-2">skills</h2>
        <dl class="row">
            <dt class=" font-weight-normal col-md-4 text-muted f-18"> Language</h5>
            <dd class="col-md-8 f-18">Javascript, TypeScript, Java 8, Golang, HTML 5, CSS 3, SCSS</h5>
            <dt class=" font-weight-normal col-md-4 text-muted f-18"> Frontend</dt>
            <dd class="col-md-8 f-18">React.Js, React Native, Electron js, Redux, Vue, Webcomponents
            </dd>
            <dt class=" font-weight-normal col-md-4 text-muted f-18"> Backend</dt>
            <dd class="col-md-8 f-18">Nodejs, Express js, Graphql, Spring-boot</dd>
            <dt class=" font-weight-normal col-md-4 text-muted f-18"> Database</dt>
            <dd class="col-md-8 f-18">PostgreSQL, Neo4j, MongoDB</dd>
            <dt class=" font-weight-normal col-md-4 text-muted f-18"> Testing</dt>
            <dd class="col-md-8 f-18">Jest and Enzyme, Mocha & Chai</dd>
            <dt class=" font-weight-normal col-md-4 text-muted f-18"> Deployment</dt>
            <dd class="col-md-8 f-18">Docker, AWS, Digital Ocean, Google Cloud, Heroku</dd>
            <dt class=" font-weight-normal col-md-4 text-muted f-18"> Api Platforms</dt>
            <dd class="col-md-8 f-18">Shopify, Firebase</dd>
            <dt class=" font-weight-normal col-md-4 text-muted f-18"> Methodology</dt>
            <dd class="col-md-8 f-18">BEM, Design systems</dd>
        </dl>
    </section>

    <section class="container mt-5">
        <h2 class="py-2">projects</h2>
        <div class="row mb-5">
            <div class="col-md-4">
                <h3 class="f-24">FanX</h3>
                <div class="media">
                    <a target="_blank" href="https://dtx.airislabs.com/">
                    <img src="dist/images/dt.png" style="height: 3rem !important;" class="rounded logo" alt="...">
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <p class="text-muted f-18">
                    The FanX Mesh Designer (FanX-MD) is a tool for Fan experience management personnel (eg dropthought's Customer Success team members) to define and manage the supported methods starting with dropthought surveys. Also the design and implementation of FanX-MD should support multiple deployment options as the newly introduced concepts could be adapted much faster by customers when integrated into existing platforms
                </p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
                <h3 class="f-24">BuildOps</h3>
                <div class="media">
                    <a target="_blank" href="https://buildops.com/">
                    <img src="dist/images/BO.png" class="logo" alt="...">
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <p class="text-muted f-18">
                    An application for managing services provided by commercial real estate companies, It has various segments, Like easing
                    the work of technicians on the field, Helping managers review the technician's data And also creating transparency
                    between the customer and the real estate service company by sending the invoices.
                </p>
                <p class="text-muted f-18">
                    We created a metadata-driven framework for forms. This drastically reduced the boilerplate code in the application, We
                    also integrated a component that securely captures the customer signature. Our ongoing work is around offline storage of
                    all kinds of data like images, videos and other details. These will be synced back to the server once the connection is
                    back.
                </p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
                <h3 class="f-24">Think Room for Parents</h3>
                <div class="media">
                    <a class="h-25 w-25" target="_blank" href="https://chrysalis.world/"><img src="dist/images/ezv.png"  alt="..."></a>
                </div>
            </div>
            <div class="col-md-8">
                <p class="text-muted f-18">
                    Mitra Parenting app in React native mobile application, which helps parents can view their child's progress report,
                    Assessment report, school day to day activities through push notification in Android & ios
                </p>
                <p class="text-muted f-18">
                    Platform dependency issues like view and mobile responsive adaptable for all devices, Lot more content infinite scroll
                    issues
                </p>
                <a
                    target="_blank" href="https://play.google.com/store/apps/details?id=com.chrysalis.thinkroom.parent">https://play.google.com/store/apps/details?id=com.chrysalis.thinkroom.parent</a>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
                <h3 class="f-24">QubeSlate</h3>
                <div class="media">
                    <a target="_blank" href="http://www.realimage.com"><img src="dist/images/RI.png" class="logo" alt="..."></a>
                </div>
            </div>
            <div class="col-md-8">
                <p class="text-muted f-18">
                    Qube Slate is a content scheduling platform that acts as a marketplace to allow Advertisers, Media Agencies or
                    Exhibitors themselves to plan campaigns, choose to target content to specific theatres and schedule them at the
                    theatres for playback.
                </p>
                <p class="text-muted f-18">
                    Rate card and premium schedule based on time intervals. should cover all cases in unit testing.
                </p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
                <h3 class="f-24">Mitra Web App</h3>
                <div class="media">
                    <a class="h-25 w-25" target="_blank" href="https://chrysalis.world/"><img src="dist/images/ezv.png"  alt="..."></a>
                </div>
            </div>
            <div class="col-md-8">
                <p class="text-muted f-18">
                    Mitra app is a Web-based Application. It is the next version of Ezvidya Thinkmate app. It will manage teacher and
                    Manager of the school can view assessment report, Course materials, Question plans, Period plans, Term creation and
                    Professional development videos view in this portal.
                </p>
                <p class="text-muted f-18">
                    Creating Terms based on school and staff. Adding Professional development videos and generating reports based on
                    lessons, learning outcomes, success criteria. It will generated for overall class and individual student.
                </p>
                <a target="_blank" href="http://mitra.chrysalis.world">mitra.chrysalis.world</a>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
                <h3 class="f-24">Content Portal</h3>
                <div class="media">
                    <a class="h-25 w-25" target="_blank" href="https://chrysalis.world/"><img src="dist/images/ezv.png"  alt="..."></a>
                </div>
            </div>
            <div class="col-md-8">
                <p class="text-muted f-18">
                    An innovative education startup catering to more than 700 schools. Helped build a platform that will radically change
                    the way school-based education works.
                </p>
                <p class="text-muted f-18">
                    Built (Frontend and Backend) web-based platform that allows administrators /content managers of EZ Vidya to upload
                    content and syllabus relevant to the school. Developed backend restful APIs for storing and retrieving content based on
                    the schools and their classes.
                </p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
                <h3 class="f-24">Workflow Management System</h3>
                <div class="media">
                    <a target="_blank" href="https://www.seyon.com.au/"><img src="dist/images/seyon.jpg" class="logo" alt="..."></a>
                </div>
            </div>
            <div class="col-md-8">
                <p class="text-muted f-18">
                    A web application to create, allocate and track tasks assigned to employees and provide actual productivity report
                    against estimated time report to improve operations efficiency. It helps to provide better visibility to the management
                    and clients.
                </p>
                <p class="text-muted f-18">
                    To Monitor separate work and time queues for each employee assigned to a particular task, altering task status as and
                    when completed. To generate an estimated customized quote report based on the estimated task completion time for
                    customer review.
                </p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4">
                <h3 class="f-24">Thinkroom web</h3>
                <div class="media">
                    <a class="h-25 w-25" target="_blank" href="https://chrysalis.world/"><img src="dist/images/ezv.png"  alt="..."></a>
                </div>
            </div>
            <div class="col-md-8">
                <p class="text-muted f-18">
                    Ezvidya was trying to create  revolution of Indian school education system. They are having own set of data's, for school
                    education system, we are trying to aggregate their information to scheduled data's for creating admin panels and UI of
                    user accessing information. In this project I work in admin panels and user site web application
                    thinkmate.ezvidya.com
                </p>
                <p class="text-muted f-18">
                    Created UI for content uploading admin panel is called Content portal. Thinkmate is user interactive application. The
                teacher can view their course materials and creating reference on the page do draw a line, write a text, drag the text
                to any place using canvas API. View assessment report, question bank, period plan. and handle multi-server
                in single web application
                </p>
            </div>
        </div>
    </section>
</main>

{{ end }}
