{{ define "main" }}


  <main class="text-center px-3 ">
    <h1>Logo.</h1>
    <p class="lead text-center mx-auto w-50">SQL components are a set of tools and specification that allow you to create new custom, reusable, encapsulated SQL Blocks to use in apps. 
      Once built this can be used with any programing language that can talk to Relational databases.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-outline-secondary font-weight-bold">Learn more</a>
    </p>
  </main>


{{ end }}
