// Put your custom SCSS code here
header.navbar {
    background-color: #262829;
    
}

li.nav-item a.nav-link, #buttonColorMode, #searchToggleDesktop {
    color: #FFFFFF;
}

section.section-features>.container>.row>.col-lg-5 {
    background-color: #F5F4F4;
}

.navbar-brand > img {
    height: 40px;
}